[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
numpy = "*"
pandas = "*"
psycopg2 = "*"
psycopg-binary = "*"
fastapi = {extras = ["all"], version = "*"}
whitenoise = "*"

[dev-packages]
bandit = "*"
flake8 = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pytype = "*"
prospector = "*"

[requires]
python_version = "3.10"
